<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="title">{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="products">
    <ion-card *ngFor="let product of products">
        <img [src]="product?.images[0].src"/>
        <ion-card-content>
          <ion-card-title>
              {{ product?.name }}
          </ion-card-title>
          <p>
            <span [outerHTML]="product?.short_description" text-wrap></span>
          </p>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
