<ion-menu [content]="content" [persistent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Categorias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="categories">
      <button menuClose 
        ion-item 
        *ngFor="let category of categories"
        (click)="openPage(category?.name)">
        <ion-icon [name]="category?.icon" item-start></ion-icon>
        {{ category?.name }}
        <ion-badge item-end>
          {{ category?.count }}
        </ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="homePage" #content></ion-nav>